:root {
    --color-card: #e3edeb; 
}
.start-button:hover span {
      color: #ffffff;
      filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.1))
          drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
}
.tackle-light {
    animation: tackLight 1s linear infinite alternate-reverse;
}
@keyframes tackLight 
{
    from {
        color: #1D4ED8; 
    } 
    to {
        color: #FF8FB7; 
    }
}
